#copyright-photo {
    font-size: 0.8rem;
}

#copyright-sign {
    font-family: Arial;
    margin-right: 7px;
    font-size: 0.9rem;
}


.copyright {
    margin-top: -40px;
    opacity: 0.2;
}

.copyright:hover {
    opacity: 0.3;
    cursor: pointer;
}

.full-height {
    height: 1500px;
}

.epk {
    margin-top: -24px;
}