<div class="container-fluid">
  <div class="row overlay-parent">
    <div class="row overlay-child">
      <div class="col-1 col-sm-2"></div>
      <div class="col-7 col-sm-4 title">
        <h1>K a y l e i g h </h1>
        <h1> B e a r d</h1>
      </div>
      <div class="col-3 col-sm-4 title text-center">
          <img class="loader" src="assets/loader.svg" alt="Loading" title="loading" [style.display]="loadingDisplay" role="status">
      </div>
      <div class="col-1 col-sm-2"></div>
    </div>
    <img class="poster-image" src="../assets/images/final.jpg" (load)="finishLoad()"
      [style.visibility]="imageVisibility">
  </div>
</div>