<div class="blurry-transition">
  <div class="page-header text-center">
    <h2>Contact</h2>
  </div>
</div>



<div class="container-fluid">
  <div class="row overlay-parent">
    <div class="row overlay-child">
      <div class="col">
        <div class="row contact-links">
          <div class="col text-center">
            <img class="loader mb-3" src="assets/loader.svg" alt="Loading" title="loading"
              [style.display]="loadingDisplay" role="status"> <br>
            <img *ngIf="loading" src="../../../assets/images/contact.png" class="contact-image"
              (click)="activate($event)" alt="Contact Link">
            <a *ngIf="innerHtml" class="link" [innerHtml]="innerHtml" [href]="link"></a>
            <br>
            <a href="https://open.spotify.com/artist/5A3afP8WFCG6WfKDHsGIly" target="_blank"><img
                src="assets/images/spotify.png" class="social-image m-3" alt="Spotify Logo"></a>
            <a href="https://music.apple.com/us/artist/kayleigh-beard/1522974362" target="_blank"><img
                src="../../../assets/images/apple-music.png" class="social-image m-3" alt="Apple Music Logo"></a>
            <a href="https://soundcloud.com/kayleigh-beard/" target="_blank"><img
                src="../../../assets/images/soundcloud.png" class="social-image m-3" alt="Soundcloud Logo"></a>
            <a href="https://www.deezer.com/nl/artist/100423042" target="_blank"><img
                src="../../../assets/images/deezer.png" class="social-image m-3" alt="Deezer Logo"></a>
            <a href="https://music.amazon.com/artists/B08CRV2TX6?tab=CATALOG&ref=dm_wcp_artist_link_ad"
              target="_blank"><img src="../../../assets/images/amazon.png" class="social-image m-3"
                alt="Amazon Logo"></a>
            <a href="https://play.google.com/store/music/artist?id=Apcpfhclhck4vpfflkq62t6ml2i" target="_blank"><img
                src="../../../assets/images/google-play.png" class="social-image m-3" alt="Google Play Logo"></a>
            <a href="https://tidal.com/browse/artist/20383982" target="_blank"><img
                src="../../../assets/images/tidal.png" class="social-image m-3" alt="Google Play Logo"></a>
            <a href="https://www.youtube.com/channel/UCWSkiBsg9O6k_GNO23Mw75g/" target="_blank"><img
                src="../../../assets/images/youtube.png" class="social-image m-3" alt="Youtube Logo"></a>
          </div>
        </div>
      </div>
    </div>
    <img class="poster-image" src="{{ backgroundSrc }}" (load)="finishImageLoad()" [style.visibility]="imageVisibility">
  </div>
  <app-copyright background="light"></app-copyright>
</div>