.contact-links {
    margin-top: 100px;
    margin-bottom: 400px;
}

.website {
    margin-top: 100px;
    margin-bottom:  -100px;
}

.contact-image {
    height: 17px;
}

.contact-icon {
    opacity: 0.8;
    width: 40px;
    height: 40px;
}

.contact-icon:hover {
    opacity: 1;
}

.contact-image:hover {
    opacity: 0.8;
}

.contact-icon:hover, .contact-image:hover {
    cursor: pointer;
}

.link {
    font-size: 1.2rem;
    color: white;
}

.link:hover {
    color: #FECA1D;
    text-decoration: none;
}

@media (min-width: 400px) {
    .contact-image {
        height: 24px;
    }
    .link {
        font-size: 1.5rem;
    }
    
}