.contact-links {
    margin-top: 200px;
    margin-bottom: 400px;
}

.contact-image {
    height: 24px;
}

.social-image {
    width: 40px;
}

.social-image:hover {
    opacity: 0.5;
}

.link {
    font-size: 1.5rem;
}