<app-home [portfolio]="true"></app-home>

<div class="blurry-transition">
    <div class="page-header text-center">
        <h2>Over mij</h2>
    </div>
</div>

<div class="row mb-4">
    <div class="col text-center">
        <p class="description">Welkom op mijn portefolio pagina. Mijn naam is Kayleigh en ik heb een grote passie voor
            muziek. Van kinds af aan
            ben ik al bezig met muziek schrijven, in bands spelen, produceren en optreden. Ik zing en speel (bas)gitaar,
            toetsen, percussie en harp. Tijdens mijn masteropleiding aan de kunstacademie heb ik me gespecialiseerd in
            elektronische muziek. Na veel optredens, deelname aan de Popronde, en het uitbrengen van een album, ben ik
            me
            gaan focussen op lesgeven. Zo ben ik docent geweest bij de Hanzehogeschool, en geef ik nu muziekworkshops
            aan
            kinderen tussen de 8 en 15 jaar oud. Ook begeleid ik artiesten met het produceren en uitbrengen van eigen
            muziek. Ik werk als zelfstandig ondernemer en vind
            het fantastisch om deze passie met anderen te delen. Hieronder staat een chronologisch overzicht met meer
            informatie en media over mijn muzikale carrière.</p>
    </div>
</div>



<div class="page-header text-center">
    <h2>2023 - heden <br>Workshopdocent Muziek</h2>
</div>

<div class="row mb-4">
    <div class="col text-center">
        <p class="description">Momenteel werk ik wekelijks bij GROND, een school in de Drenthse bossen. Ik geef daar
            voornamelijk muziekworkshops aan kinderen
            tussen de 8 en 15 jaar oud. De kinderen zijn ontzettend enthousiast over muziek maken en zingen. Reactie van
            een collega: "wat is het eigenlijk toch fijn dat we samen zingen". </p>
        <p class="description"> Op de foto hieronder geef ik een zangworkshop aan een kleine groep kinderen bij GROND, waarbij ik begeleid op de harmonium. </p>
        <img src="../../../assets/images/grond.jpeg" alt="Met kinderen op het gras" class="media-content">
    </div>
</div>

<div class="page-header text-center">
    <h2>2021 - 2022 <br>Docent Hanzehogeschool</h2>
</div>
<div class="row mb-4">
    <div class="col text-center">
        <p class="description">Vanwege mijn achtergrond in de ICT heb ik ruim een jaar gewerkt als docent bij de
            opleiding HBO-ICT aan de
            Hanzehogeschool in Groningen. Ik ontwikkelde en verzorgde programmeerlessen en begeleidde de studenten in
            hun studiepad. Ook was ik via de Hanzehogeschool betrokken bij
            een project waar ik een Micro:bit muziekworkshop ontwikkelde voor kinderen. </p>
        <p>In onderstaande video zie hoe ik een proefcollege programmeren geef voor de opleiding HBO-ICT.</p>
        <iframe height="390" class="media-content" src="https://www.youtube.com/embed/5C7LHD5P15A?si=PmM3COb9VOf0nyS0"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="page-header text-center">
    <h2>2020 - heden <br>Producer & begeleider</h2>
</div>

<div class="row mb-4">
    <div class="col text-center">
        <p class="description">In 2020 heb ik mijn debuutalbum Ocean's Pulse geproduceerd en uitgebracht, waarbij
            ik veel heb geleerd over muziekproductie.
            Ondertussen begeleid ik als zelfstandig ondernemer anderen met het opnemen en uitbrengen van eigen muziek.
        </p>
        <iframe src="https://open.spotify.com/embed/album/20DhxlKK80gUNGFAzfJGyn" width="400" height="500"
            frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>

<div class="page-header text-center">
    <h2>2020 <br>Popronde</h2>
</div>

<div class="row mb-4">
    <div class="col text-center">
        <p class="description">Uit meer dan 1000 aanmeldingen ben ik als artiest geselecteerd voor de Popronde 2020,
            waarvoor ik
            onder andere heb opgetreden in Cinetol, Amsterdam.</p>
        <img src="../../../assets/images/popronde.png" alt="Popronde website example" class="media-content">
        <p>Bron: <a href="https://popronde.nl/profiel/11090/2020">https://popronde.nl/profiel/11090/2020</a></p>
        <img src="../../../assets/images/cinetol.JPG" alt="Cinetol gig" class="media-content"> <br>
        <p>Popronde optreden in Cinetol, Amsterdam.</p>
    </div>
</div>


<div class="page-header text-center">
    <h2>2016-heden <br>One-woman band</h2>
</div>

<div class="row mb-4">
    <div class="col text-center">
        <p class="description">Als one-woman-band bespeel ik zelf alle instrumenten en sta ik alleen op het podium.</p>
        <p class="description"><i>“Hoewel de muziek van Kayleigh Beard uit Groningen niet onmiddellijk als heel
                toegankelijk kan worden gekenschetst, weet ze wel prachtig en gelaagd voor hen die de moeite nemen te
                luisteren een hele eigen wereld te ontsluiten met haar elektropop waarin diepe basklanken het een aards
                gevoel geven. Het is intuïtief en bij tijden prachtig sereen.”</i><br> –The Next Gig</p>
        <iframe class="media-content" height="390" src="https://www.youtube.com/embed/eEpzWL6E-rY?si=nNtPrzacOqzK6kqA"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="page-header text-center">
    <h2>2016-2018 <br>Muzikale Master Kunstacademie </h2>
</div>

<div class="row mb-4">
    <div class="col text-center">

        <p class="description">Elektronische muziek was mijn specialisatie tijdens mijn masteropleiding aan de
            kunstacademie (Frank Mohr Instituut / Minerva). Door te leren en experimenteren met nieuwe technologie
            ontwikkelde ik interactieve muziekinstallaties en ontstond mijn elektronische one-woman-band act.</p>
        <iframe class="media-content" height="390" src="https://www.youtube.com/embed/uO1DPhyIB68?si=9V5cbDSMn1zws_Ir"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>

<div class="page-header text-center">
    <h2>2012 - 2014 <br> Coverband Zinloos Geweldig</h2>
</div>

<div class="row mb-4">
    <div class="col text-center">
        <p class="description">Van 2012 tot 2014 was ik zangeres en toetsenist in de coverband Zinloos Geweldig. We
            traden op bij onder andere studentenverenigingen. </p>
        <img src="../../../assets/images/zinloos.JPG" alt="Kayleigh zingt" width="400">
    </div>
</div>

<div class="page-header text-center">
    <h2>2006 - 2011 <br> Popband Metal Apple</h2>
</div>

<div class="row mb-4">
    <div class="col text-center">
        <p class="description">Van 2006 tot 2011 was ik zangeres en gitarist in de popband Metal Apple. We traden op bij
            verschillende locaties waaronder Ahoy Rotterdam.</p>
        <iframe class="media-content" height="390" src="https://www.youtube.com/embed/Onmtvj9rWUE?si=XSywOOC9thzVYTWI"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen></iframe>
    </div>
</div>