<div class="blurry-transition">
  <div class="page-header text-center">
    <h2>News</h2>
  </div>
</div>

<div class="row">
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
  <div class="col-10 col-sm-8 col-md-6 col-xl-4 text-center">
    <p>Gisteravond, 30 april, hoorde ik mijn naam op radio 3FM. <br>
      En dat betekent dat ik ben geselecteerd voor de Popronde 2020! </p>
  </div>
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
</div>

<div class="row mb-3">
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
  <div class="col-10 col-sm-8 col-md-6 col-xl-4 text-center">
    <a href="https://www.popronde.nl/" class="popronde">Popronde 2020</a>
  </div>
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
</div>

<div class="row">
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
  <div class="col-10 col-sm-8 col-md-6 col-xl-4 text-center">
    <p>In de maanden september, oktober en november ga ik dus op tour door heel Nederland.
      Dit is een prachtige kans om nog meer podium ervaring op te doen, en nieuwe mensen te ontmoeten. Ik heb er vooral
      heel veel zin in! Vier weken voor aanvang wordt het programma bekend gemaakt, en zal ik ook hier een overzicht
      tonen van de tijden en locaties van mijn optredens. Zie hier <a href="https://www.popronde.nl/profiel/11090">mijn popronde profiel</a>. 
    </p>
  </div>
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
</div>

<div class="row">
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
  <div class="col-10 col-sm-8 col-md-6 col-xl-4 text-center">
    "Popronde 2020 verwacht meer dan 1600 optredens bij circa 800 deelnemende podia, minstens 155.000 bezoekers! 41
    steden, ca. 145 geselecteerde acts (uit meer dan 1000 aanmeldingen)"
  </div>
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
</div>

<div class="row mt-4">
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
  <div class="col-10 col-sm-8 col-md-6 col-xl-4 text-center">
    <img src="../../../assets/images/popronde.png" width="100%">
  </div>
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
</div>

<div class="row mt-4">
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
  <div class="col-10 col-sm-8 col-md-6 col-xl-4 text-center">
    "Popronde is een landelijk reizend festival dat elk najaar in de periode van september tot en met november
    plaatsvindt in een 40-tal steden door het hele land. In 2020 strijkt Popronde neer in 41 steden: van Leeuwarden tot
    Middelburg, van Venlo tot Alkmaar en van Deventer tot Den Haag, geen stad is veilig! In elke stad treden op één
    avond circa 35 opkomende Nederlandse bands en artiesten op bij een twintigtal podia."
  </div>
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
</div>