<ul class="nav justify-content-center fixed-top blurry-transition">
  <li class="nav-item">
    <a class="nav-link active" href="{{ currentPath + '#' }}">
      <h5>Home</h5>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ currentPath + '#music' }}">
      <h5>Music</h5>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ currentPath + '#live'}}">
      <h5>Live</h5>
    </a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="#music">
      <h5>Music</h5>
    </a>
  </li> -->
  <li *ngIf="currentPath == 'epk'" class="nav-item">
    <a class="nav-link" href="{{ currentPath + '#bio' }}">
      <h5>Bio</h5>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ currentPath + '#contact' }}">
      <h5>Contact</h5>
    </a>
  </li>
</ul>