/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: black;
    color: white;
}

@font-face {
    font-family: 'titleFont';
    src: url('./assets/fonts/vita.ttf');
  }

@media (min-width: 265px) {
    .poster-image {
        margin-left: -180px !important; 
    }
}

@media (min-width: 310px) {
    .poster-image {
        margin-left: -220px !important;
    }

    h1 {
        font-size: 0.9rem !important;
    }
}

@media (min-width: 361px) {
    .poster-image {
        margin-left: -250px !important;
    }

    .title {
        margin-top: 130px !important;
    }

    h1 {
        font-size: 1.1rem !important;
    }
}

@media (min-width: 420px) {
    .poster-image {
        margin-left: -300px !important;
    }

    .title {
        margin-top: 150px !important;
    }

    h1 {
        font-size: 1.3rem !important;
    }
}

@media (min-width: 520px) {
    .poster-image {
        margin-left: -220px !important;
        width: 150% !important;
    }

    .title {
        margin-top: 180px !important;
    }

    h1 {
        font-size: 1.8rem !important;
    }
}

@media (min-width: 570px) {
    .poster-image {
        margin-left: -150px !important;
        width: 130% !important;
    }

    h1 {
        font-size: 2rem !important;
    }
}

@media (min-width: 650px) {
    .poster-image {
        margin-left: -130px !important;
        width: 120% !important;
    }

    .loader {
        width: 5rem !important; 
        height: 5rem !important;
    }
    
}

@media (min-width: 750px) {
    .poster-image {
        margin-left: -80px !important;
        width: 110% !important;
    }
    h1 {
        font-size: 2.5rem !important;
    }
}

@media (min-width: 850px) {
    .poster-image {
        margin-left: 0px !important;
        width: 100% !important;
    }

    .title {
        margin-top: 220px !important;
    }
    h1 {
        font-size: 2.7rem !important;
    }
}

@media (min-width: 1033px) {
    h1 {
        font-size: 3.2rem !important;
    }
    .title {
        margin-top: 320px !important;
    }
}

.poster-image {
    margin-left: -150px;
    width: 180%;
}

.overlay-child {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.overlay-parent {
    position: relative;
}

h1 {
    font-family: 'titleFont';
    font-size: 0.7rem;
    text-transform: capitalize;
}

.title {
    margin-top: 120px;
    margin-right: 0px;
}

.loader {
    width: 2rem; 
    height: 2rem;
}