/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    overflow-x:hidden;
}

@font-face {
    font-family: 'titleFont';
    src: url('./assets/fonts/vita.ttf');
  }

.poster-image {
    margin-left: -150px;
    margin-top: 20px;
    width: 180%;
    height: 100%;
    z-index:-1;
}

.overlay-child {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin-right: 0px;
}

.overlay-parent {
    position: relative;
    
}

h1, h5 {
    font-family: 'titleFont';
    text-transform: capitalize;
    font-size: 0.8rem;
}

.title {
    margin-top: 60px;
}

.loader {
    width: 2rem; 
    height: 2rem;
}

.blurry-transition {
    box-shadow: 0 0 30px 30px black;
}

.page-header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    height: 500px;
}

.nav {
    height: 5px;
    background-color: black;
    opacity: 0.9;
}

.nav-link {
    color: white;
    opacity: 0.8;
}

.nav-link:hover {
    color: white;
    opacity: 0.5;
}