/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: black;
    color: white;
}

@media (min-width: 265px) {
    .poster-image {
        
        margin-left: -180px !important; 
    }
}

@media (min-width: 310px) {
    .poster-image {
        margin-left: -220px !important;
    }
}

@media (min-width: 361px) {
    .poster-image {
        margin-left: -250px !important;
    }
}

@media (min-width: 420px) {
    .poster-image {
        margin-left: -300px !important;
    }
}

@media (min-width: 520px) {
    .poster-image {
        margin-left: -220px !important;
        width: 150% !important;
    }
}

@media (min-width: 570px) {
    .poster-image {
        margin-left: -150px !important;
        width: 130% !important;
    }
}

@media (min-width: 650px) {
    .poster-image {
        margin-left: -130px !important;
        width: 120% !important;
    }
}

@media (min-width: 750px) {
    .poster-image {
        margin-left: -80px !important;
        width: 110% !important;
    }
}

@media (min-width: 850px) {
    .poster-image {
        margin-left: 0px !important;
        width: 100% !important;
    }
}

.poster-image {
    margin-left: -150px;
    width: 180%;
}

.overlay-child {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.overlay-parent {
    position: relative;
}