<div class="blurry-transition">
    <div class="page-header text-center">
        <h2>Bio</h2>
    </div>
</div>

<div class="row mb-5">
    <div class="col-0 col-sm-1 col-md-3 col-lg-4"></div>
    <div class="col col-sm-10 col-md-6  col-lg-4 text-center m-3">
        <h5>[ NL ]</h5>
        Producer en solo-artiest Kayleigh Beard (Groningen) vertaalt haar verlangen naar een betere wereld in
        elektronische artpop, doordrenkt met natuurmetaforen en vrouwelijke energie. Haar muziek is enerzijds
        introspectief en sfeervol, maar ook energiek en dansbaar. Kayleigh's elektronische act ontstond in 2016 aan de
        kunstacademie Minerva, wat haar muziek en teksten een speels en alternatief karakter geeft. Geïnspireerd door
        London Grammar, wordt haar sound gekenmerkt door dromerige baslijnen, krachtige beats, rijke synthlagen en
        ruimtelijke zang.
        <br><br>
        Na de release van haar debuutalbum in 2020 werd Kayleigh geselecteerd voor de Popronde. Met ondersteuning van
        Sena ligt er nu een nieuw album op de plank: Mutations. Deze zal ook verkrijgbaar zijn op eco-vinyl: een plaat
        gemaakt van 100% gerecycled materiaal.
        <br><br>
        <h5>[ ENG ]</h5>
        Producer and one-woman-show Kayleigh Beard (the Netherlands) translates her longing for a better world into
        alternative electronic pop, infused with nature metaphors and feminine energy. Her music is on one hand
        introspective and atmospheric, but also energetic and danceable. Kayleigh's electronic act originated in 2016 at
        the art academy Minerva, which gives her music and lyrics a playful and alternative character. Drawing
        inspiration from London Grammar, her sound is carried by dreamy bass, powerful beats, rich synth layers, and
        spacious vocals.
        <br><br>
        After the release of her debut album in 2020, Kayleigh was selected for the Popronde, a prominent talent
        showcase in the Netherlands. With support from Sena Music Production fund, her upcoming album, Mutations, is
        ready to be released in early April, and will also be available on eco-vinyl: a record made from 100% recycled
        materials. <br>
        <div class="row mt-2">
            <div class="col-12 text-center m-2"><img src="../../../assets/images/kayleighbeard-simplon-Ioanalorgu.JPG">
            </div>
            <div class="col-12 text-center m-2"><img src="../../../assets/images/Portrait.JPG">
            </div>
            <div class="col-12 text-center m-2"><img src="../../../assets/images/kayleighbeard-SimplonUP.jpeg"></div>
            
            <div class="col-12 text-center m-2"><img src="../../../assets/images/simplon2026live.jpg">
            </div>
            <div class="col-12 text-center m-2"><img src="../../../assets/images/releasepartywithDee.jpg">
            </div>
        </div>
    </div>
    <div class="col-0 col-sm-1 col-md-3  col-lg-4"></div>
</div>