<div class="blurry-transition">
    <div class="page-header text-center">
        <h2>Bio</h2>
    </div>
</div>

<div class="row mb-5">
    <div class="col-0 col-sm-1 col-md-3 col-lg-4"></div>
    <div class="col col-sm-10 col-md-6  col-lg-4 text-center m-3">
        Kayleigh Beard (1993, The Netherlands) started producing electronic music in 2015, just before starting her
        MADtech master's degree in art en technology. Since a young age Kayleigh has always been recording music,
        singing, playing guitar and keys, and performing in bands. On the side she pursued a career of computer
        programming and webdevelopment. During the MADtech master her passion for technology and music finally blended,
        and being in an art environment gave a unique touch to her music. On a personal level, Kayleigh is intensely
        passionate about our planet and all life forms on it. She prefers to spend most of her time outdoors, in her
        (vegetable) garden or swimming in a lake. So it's no surprise that elements from nature come back into
        Kayleigh's music and words. Her debut album "Ocean's Pulse" (July 2020) was inspired by the heartbeat of the earth and the
        passion to take good care of it. On stage Kayleigh performs as a one-woman-band playing electronic music with
        firm beats and dreamy vocals, which can be described with words such as indie electronic, deep bass, chillstep, triphop, melancholic, ethereal.
        <div class="row mt-2">
            <div class="col-12 text-center m-2"><img src="../../../assets/images/kayleighbeard-lola-janlenting.jpg"></div>
            <div class="col-12 text-center m-2"><img src="../../../assets/images/kayleighbeard-lola-janlenting2.jpg"></div>
            <div class="col-12 text-center m-2"><img src="../../../assets/images/kayleighbeard-simplon-deniseamber.jpg"></div>
        </div>
    </div>
    <div class="col-0 col-sm-1 col-md-3  col-lg-4"></div>
</div>

