<div class="blurry-transition">
    <div class="page-header text-center">
        <h2>Bio</h2>
    </div>
</div>

<div class="row mb-5">
    <div class="col-0 col-sm-1 col-md-3 col-lg-4"></div>
    <div class="col col-sm-10 col-md-6  col-lg-4 text-center m-3">
        <h5>[ NL ]</h5>
        Kayleigh Beard is een producer en one-woman-band uit Groningen die alternatieve elektronische pop maakt met
        dreamy baslijnen en stevige beats. Haar muziek is zowel introspectief als energiek, en zowel atmosferisch als
        dansbaar, gedragen door ruimtelijke zang en rijke synth-lagen. Na de release van haar debuutalbum in 2020 werd
        ze geselecteerd voor de Popronde. Met ondersteuning van Sena ligt er nu een nieuw album op de plank: Mutations.
        <br><br>
        Dit album verkent de cyclus van verandering en de reis van kwetsbaarheid naar kracht. Het album is doordrenkt
        met natuurmetafoor en vrouwelijke energie - een ontdekking van de wilde vrouw in jezelf in verbinding met de
        aarde. Mutations wordt begin april verwacht en zal ook beschikbaar zijn op eco vinyl.
        <br><br>
        <h5>[ ENG ]</h5>
        Kayleigh Beard is a producer and one-woman-band from Groningen who creates alternative electronic pop with
        dreamy basslines and powerful beats. Her music is both introspective and energetic, as well as atmospheric and
        danceable, carried by spacious vocals and rich synth layers. After the release of her debut album in 2020, she
        was selected for the Popronde. With support from Sena, her new album is now in the works: Mutations.
        <br><br>
        This album explores the cycle of change and the journey from vulnerability to strength. The album is infused
        with nature metaphors and feminine energy - a discovery of the wild woman within, connected to the earth.
        Mutations is expected in early April and will also be available on eco vinyl. <br>
        <div class="row mt-2">
            <div class="col-12 text-center m-2"><img src="../../../assets/images/kayleighbeard-simplon-Ioanalorgu.JPG">
            </div>
            <div class="col-12 text-center m-2"><img src="../../../assets/images/kayleighbeard-SimplonUP.jpeg"></div>
            <div class="col-12 text-center m-2"><img src="../../../assets/images/kayleighbeard-lola-janlenting.jpg">
            </div>
            <div class="col-12 text-center m-2"><img src="../../../assets/images/kayleighbeard-lola-janlenting2.jpg">
            </div>
            <div class="col-12 text-center m-2"><img src="../../../assets/images/kayleighbeard-simplon-deniseamber.jpg">
            </div>
        </div>
    </div>
    <div class="col-0 col-sm-1 col-md-3  col-lg-4"></div>
</div>