
<div class="blurry-transition">
  <div class="page-header text-center">
    <h2>Live</h2>
  </div>
</div>

<div class="row mt-3 mb-3">
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
  <div class="col-10 col-sm-8 col-md-6 col-xl-4 text-center">
    <a href="https://www.popronde.nl/" class="popronde">Popronde 2020</a>
  </div>
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
</div>

<div class="row mb-4">
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
  <div class="col-10 col-sm-8 col-md-6 col-xl-4 text-center">
    <p>Out of ±1000 applications, Kayleigh Beard is selected for Popronde 2020! This means that she will be touring through the
      Netherlands for 3 months. However, due to Covid-19 the festival is postponed to 2021 and will take place from
      January to April.
      Find more information about the festival and the show schedule here on Kayleigh's <u><a
          href="https://www.popronde.nl/profiel/11090">Popronde profile</a></u>.
    </p>
  </div>
  <div class="col-1 col-sm-2 col-md-3 col-xl-4"></div>
</div>

<div class="row">
  <div class="col-xl text-center mt-4">
    <div class="row">
      <div class="col">
        <iframe class="video" src="https://www.youtube.com/embed/LhrHwqvRF-w" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col">
        <iframe class="video" src="https://www.youtube.com/embed/eEpzWL6E-rY" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="col-xl text-center mt-4">
    <div class="container">
      <div class="table-responsive-sm">
        <table class="table table-sm w-100">
          <tbody>
            <tr *ngFor="let date of liveDates" class="mt-5" (click)="openLink(date)">
              <th scope="row" class="text-left"> {{ date.date }} </th>
              <td>{{ date.time }}</td>
              <td>{{ date.type }}</td>
              <td>{{ date.place }}</td>
              <td>{{ date.city }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div class="temp"></div>