<div class="blurry-transition">
  <div class="page-header text-center">
    <h2>Live</h2>
  </div>
</div>

<div class="row">
  <div class="col blurry-transition">
    <img class="loader" src="assets/loader.svg" alt="Loading" title="loading" [style.display]="loadingDisplay" role="status">
    <img id="banner" [src]="src" (load)="finishLoad()" alt="Banner live performance picture" [style.visibility]="imageVisibility">
  </div>
</div>

<div class="row blurry-transition"></div>

<div class="row">
  <div class="col-xl text-center mt-4">

      <iframe width="315" height="560" src="https://www.youtube.com/embed/HdfpXOr9aSU?si=N2yiyvjtQ8egoiXq" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
      <iframe width="315" height="560" src="https://www.youtube.com/embed/xmG0A9VxNGg?si=pycTUsIVeoXeZBDD" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>


      <iframe class="video" src="https://www.youtube.com/embed/kg3E50NTTVs?si=lh4nDLqwxMmc_WTm" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>




  </div>
  <div class="col-xl text-center mt-4">
    <div class="container">
      <div class="table-responsive-sm">
        <table class="table table-sm w-100">
          <tbody>
            <tr *ngFor="let date of liveDates" class="mt-5" (click)="openLink(date)">
              <th [class.grey]="isInPast(date.date)" scope="row" class="text-left date"> {{ date.date }} </th>
              <td [class.grey]="isInPast(date.date)">{{ date.time }}</td>
              <td [class.grey]="isInPast(date.date)">{{ date.type }}</td>
              <td [class.grey]="isInPast(date.date)">{{ date.place }}</td>
              <td [class.grey]="isInPast(date.date)">{{ date.city }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<div class="temp"></div>