<div class="harp-page">

    <div class="sidebar"></div>
    <div class="side-content">
        <h1>Harpmuziek op jouw <br>bruiloft of evenement?</h1>

        <div class="explanation">
            <p>Ben je op zoek naar een unieke muzikale ervaring voor jouw bruiloft of evenement? Laat je inspireren door
                de onderstaande video, waarin de aankomst van het bruidspaar wordt omlijst door mijn harpklanken:</p>
        </div>

        <iframe class="video" src="https://www.youtube.com/embed/Fcpen5DyHNU" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


        <div class="explanation">
            <p id="more">
                Ik ben al lange tijd betoverd door de magie van Keltische muziek, die me herinnert aan mijn eigen
                Keltische roots. In 2021 begon ik met het spelen van de Haakjesharp, een kleinere variant van de
                klassieke harp. Ik speel voornamelijk traditionele folkmuziek uit deze rijke cultuur, waarmee ik jouw gelegenheid kan
                verrijken. <br><br>

                Wil je ook een dromerige, romantische en serene sfeer aan jouw bruiloft of evenement toevoegen? Neem
                gerust contact op!<br><br>

                <span id="contact">Kayleigh Beard: <a [innerHtml]="innerHtmlPhone" (click)="activatePhone($event)"
                        class="link" href="/"></a> | <a *ngIf="innerHtmlMail" class="link" [innerHtml]="innerHtmlMail"
                        [href]="linkMail" (click)="activate($event)"></a></span>
            </p>
        </div>
    </div>


</div>